<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Videojuegos_Pato</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Videojuegos_Pato.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(window).resize(function(e){
        if($(window).width() < 600) {
            console.log($(window).width());
            $("#navbarLogo").each(function() {
                $(this).attr("src","media/VideojuegosPato/Isotipo.webp");
            });
        } else {
            $("#navbarLogo").each(function() {
                $(this).attr("src","media/VideojuegosPato/Imagotipo.webp");
            });                      
        }        
        });
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-light bg-*">
          <div class="container-fluid">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img  id="navbarLogo" src="~/media/VideojuegosPato/Imagotipo.webp" height="80px"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end mt-2" id="navbarSupportedContent">
              <div class="d-flex flex-xl-row-reverse justify-content-between align-items-baseline">
                <div class="d-flex flex-xl-row flex-column gap-2 ms-2">
                  <a class="btn btn-outline-light botonHeader" asp-controller="Account" asp-action="Signup">Iniciar Sesion</a>
                  <a class="btn btn-outline-light botonHeader" asp-controller="Account" asp-action="Signup">Registrarse</a>
                </div>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" asp-area="" asp-controller="Home" asp-action="Catalog"><p class="letrasHeader me-2">Catalogo</p></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" asp-area="" asp-controller="Home" asp-action="Privacy"><p class="letrasHeader me-2">Mantenimientos</p></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Videojuegos_Pato - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
